* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 98svw;
  min-height: 98svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_calculator {
  border: solid 1px;
  padding: 20px;
  background-color: rgb(255, 252, 247);
}

.calculator {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 300px;
  min-height: 350px;
  background-color: rgb(231, 255, 255);
}

.calculator button {
  border: solid 1px;
  padding: 15px 20px;
  text-align: center;
  align-content: center;
  cursor: pointer;
}

.result {
  grid-column: span 4;
  text-align: end;
  border: 1px solid;
  border-bottom: none;
  padding: 5px 5px 0 0;
  min-height: 35px;
  font-size: 1.5rem;
}

.options {
  grid-column: span 4;
  border: 1px solid;
  border-top: none;
  text-align: end;
  align-content: end;
  height: 25px;
}

.options button {
  padding: 5px;
  border: none;
  background-color: #fff;
  margin: 0 5px;
}
